<h3>a minimalistic modular angularjs app generator</h3>
<p><b>motivation</b> none of the tools out there help you build big sized angularjs apps with a proper modular approach</p>

<p><b>installation</b> ng2 can be installed with npm doing</p>
<pre>> npm -g i ng2</pre>

<p><b>start</b> normally you'd work with the generators, but when starting this is what you'd do</p>
<pre>
> ng2 start myProject
> cd myProject
> component install
<span class="comment"># we'll talk about component in a minute</span>
> ng2 server
<span class="comment"># check your running sample at localhost:9000</span>
</pre>

<p><b>usage</b> the generators allow you to scaffold angular resources quickly and setup the surroundings automatically for you</p>
<pre class="small">
module &lt;username/name&gt;    <span class="comment">scaffold a module</span>
controller &lt;name&gt;         <span class="comment">scaffold a controller</span>
directive &lt;name&gt;          <span class="comment">scaffold a directive</span>
filter &lt;name&gt;             <span class="comment">scaffold a filter</span>
provider &lt;name&gt;           <span class="comment">scaffold a provider</span>
service &lt;name&gt;            <span class="comment">scaffold a service</span>
view &lt;name&gt;               <span class="comment">scaffold a view</span>
style &lt;name&gt;              <span class="comment">scaffold a stylesheet</span>
</pre>

<p>
  then there's some helper methods
</p>
<pre class="small">
build                     <span class="comment">build the project</span>
watch                     <span class="comment">continuously watch and build</span>
server                    <span class="comment">watch and run a webserver</span>
</pre>

<p><b>finally</b> all your modules are component.io-compatible commonjs modules, put them up at github and people will be able to install easily. like my port of angularjs</p>
<pre class="small">
> component install leostera/angular.js
</pre>

<h3>kudos for reaching this far<br>this is by far finished, and I'd love your input<br>so go file an issue, break it, pr, or just star<br>lets make the generator we all need<br><a href="https://github.com/ng2/ng2">here on github</a></h3>
<h6>made with <span class="heart"></span> by <a href="https://github.com/leostera">@leostera</a> </h6>