<html ng-app="${app}">
<head>
  <meta charset="UTF-8">
  <title>Welcome to ${app}</title>
  <style src="build/build.css"></style>
</head>
<body>
  <ng-view></ng-view>
  <script src="build/build.js"></script>
  <script>
  window.angular = require('leostera-angular.js');
  require('leostera-angular.js/build/angular-route.js');
  require('leostera-angular.js/build/angular-animate.js');
  require('leostera-angular.js/build/angular-resource.js');
  require('leostera-angular.js/build/angular-cookies.js');
  require('leostera-angular.js/build/angular-sanitize.js');
  
  // Add other requires here
  
  bootstrap = require('core');
  var app = bootstrap("${app}", [
    // your dependencies here
    ]);
  </script>
</body>
</html>